# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln
*.VC.db
*.VC.opendb
*.user
*.suo

# JetBrains Rider
.idea/

# Logs
*.log

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Build files
*.dll
*.exe
*.pdb
*.obj